venv/
.venv/
__pycache__/
*.pyc
dist/
node_modules/
/secrets/

/trading/prisma/generated/

market-matching/matches.txt
market-matching/match_cache.json
market-matching/.coverage

# Just a symlink. Safe to commit!!
!docker/.env
!trading/prisma/.envg
